<!DOCTYPE html>
<html>
  <head>
    <title>RailsVueApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application'%>
    <%= javascript_pack_tag 'application'%>
    <%= stylesheet_pack_tag 'application'%>
  </head>

  <body class="bg-gray-100">
  </body>
</html>
